<div class="container mt-4">
  <div class="card">
    <div class="card-header">
      Library Management System
    </div>
    <div class="card-body">
      <nav>
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <a class="nav-item nav-link active" id="nav-register-tab" data-toggle="tab" href="#nav-register" role="tab" aria-controls="nav-register" aria-selected="true">
            Register
          </a>
          <a class="nav-item nav-link" id="nav-book-tab" data-toggle="tab" href="#nav-book" role="tab" aria-controls="nav-book" aria-selected="false">
            Book
          </a>
        </div>
      </nav>
      <div class="tab-content" id="nav-tabContent">
        <div class="tab-pane fade show active" id="nav-register" role="tabpanel" aria-labelledby="nav-register-tab">
          <app-register></app-register>
        </div>
        <div class="tab-pane fade" id="nav-book" role="tabpanel" aria-labelledby="nav-book-tab">
            <app-book></app-book>
        </div>
      </div>
    </div>
  </div>
</div>

